{% extends 'base.html' %}
{% block title %}
    Піца {{ pizza.name }}
{% endblock %}
    {% block page %}
        <a href="{% url 'home' %}">Головна</a>
    <div>
        <h2>{{ pizza.name }}</h2>
            {% if pizza.photo %}
                <img src="{{ pizza.photo.url }}" alt="{{ pizza.name }}">
            {% endif %}
        <div>{{ pizza.short_description }}</div>
        <div>{{ pizza.price|floatformat:"-2" }}</div>
    </div>
        <h2>Замовлення</h2>
            {% if sent %}
                <h2>Дякуємо! Ваша заявка прийнята</h2>
            {% endif %}
        <form method="POST">
            {#форма "form method="POST" " дозволяє користувачу вводити текст, вибирати опції, змінювати об'єкти і т.д.#}
{#        а потім відправляти цю інформацію на сервер у вигляді запиту POST#}
{#        тому, що цей вид запиту більш безпечний і не відображає передані дані в рядку браузера!!#}
            {% csrf_token %}
{#            цей тег поміщає в форму захисний токен#}
            {{ form.as_ul }}
            <input type="submit", value="Відправити Замовлення">
        </form>
    {% endblock %}
